<md-content class="md-padding" >
                    <div layout="column">
                        <form role="shippingDetailsForm" ng-submit="shippingDetails(currentUser)" novalidate ng-if="currentUser.address ? disabled=true : disabled = false">
                            <md-input-container class="md-block">
                                <label>Shipping Address</label>
                                <input ng-model="currentUser.address.shippingAddress" ng-disabled="disabled" />
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Area zip</label>
                                <input type="text" ng-model="currentUser.address.pincode" ng-disabled="disabled" />
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Mobile</label>
                                <input type="text" id="mobile" class="form-control" ng-model="currentUser.mobile" ng-disabled="disabled" />
                            </md-input-container>
                            <div layout="row">
                                <div flex></div>
                                <md-button ng-show="!currentUser.address || isEditable" ng-click="shippingDetails(currentUser);disabled = !disabled;isEditable = !isEditable;" class="md-raised md-primary" flex>
                                        Save
                                </md-button>
                                <md-button ng-show="currentUser.address && !isEditable" ng-click="disabled = !disabled;isEditable = !isEditable;" class="md-raised md-primary" flex>
                                        Edit
                                </md-button>
                                <md-button  ng-click="nextStep()" class="md-raised md-accent" flex>
                                        Next
                                </md-button>
                                <div flex></div>
                            </div>
                            
                            
                        </form>
                    </div>
                </md-content>