<md-content>
                  <md-button ui-sref="home" layout="row" class="md-raised" ng-if="cart.items.length == 0">Continue Shopping...</md-button>
                  <div layout="row" layout-xs="column" layout-margin ng-if="cart.items.length != 0">
                      <div flex="60" flex-xs="100" ng-controller="cartCtrl">
                          <div class="md-whiteframe-z2">
                            
                            <div ng-include="'views/cart/cart-view.tpl.html'"></div>
                            
                            <md-divider ng-show="shoppingCart.items.length > 0"></md-divider >
                            <div layout="row" layout-padding ng-show="shoppingCart.items.length > 0">
                                <md-button class="md-raised md-primary" flex="20"  ng-click="updateCart(shoppingCart)">
                                    <span ng-show="status == 'init'">Update</span>
                                    <span ng-show="status == 'progress'"><i style="vertical-align: middle;" class="zmdi zmdi-rotate-right zmdi-hc-spin"></i></span>
                                </md-button>
                                <div flex></div>
                            </div>
                        </div>
                        <div layout="row" layout-padding layout-align="center center" >
                               <md-button class="md-raised md-accent" ng-disabled="Orderstatus == 'progress'" ng-click="placeOrder(orderDetails)" ng-show="!order.id">
                                    <span ng-show="Orderstatus == 'init'">Place Order</span><span ng-show="Orderstatus == 'progress'"><i style="vertical-align: middle;" class="zmdi zmdi-rotate-right zmdi-hc-spin"></i></span>
                                </md-button>
                                <div flex class="md-whiteframe-z2"" ng-if="order.id != null" style="background-color: #2196F3;color: white;">
                                   <h4> your Order has been placed with ID: <span class="md-headline" >{{order.id}}</span></h4>
                                </div>
                        </div>
                     </div>
                     <div flex="40" flex-xs="100" layout="column"  layout-margin >
                         <div flex class="md-whiteframe-z2">
                             <div class="margin-bottom-30" style="border-color:rgb(0, 188, 212);color: rgb(255, 255, 255);background-color: rgb(0, 188, 212);">
                                <div class="md-toolbar-tools">
                                    <h5>
                                        <span>PAYMENT METHOD</span>
                                    </h5>
                                    <span flex></span>
                                </div>
                            </div>
                            <md-divider></md-divider>
                            <md-list layout-padding>
                                <md-list-item>
                                    COD
                                </md-list-item>
                                <md-list-item>
                                    Paytm
                                </md-list-item>
                            </md-list>
                            </div>
                            <div class="md-whiteframe-z2" style="border-color:rgb(0, 188, 212);color: rgb(255, 255, 255);background-color: rgb(0, 188, 212);" flex>
                             <div class="margin-bottom-30">
                                <div class="md-toolbar-tools">
                                    <h5>
                                        <span>SHIPPING ADDRESS</span>
                                    </h5>
                                    <div flex></div>
                                    <div>
                                        <md-button class="btn-link md-icon-button" ng-click="selectedTabIndex = 1;">
                                            <md-icon style="font-size: 20px;color:#fff" class="zmdi zmdi-edit"><md-tooltip md-direction="top">Edit</md-tooltip></md-icon>
                                        </md-button>
                                   </div>
                                 </div>
                            </div>
                            <md-divider></md-divider>
                            <div layout="column" layout-padding>
                                <span class="md-subhead">{{currentUser.firstname + " " +currentUser.lastname}} ,</span>
                                <span>Address. <span style="color: #FFD740;font-weight: 400;font-size: 1.2em;">{{currentUser.address.shippingAddress}}</span></span>
                                <span>Pin.<span style="color: #FFD740;font-weight: 400;font-size: 1.2em;"> {{currentUser.address.pincode}}</span></span>
                                <span>Mob.<span style="color: #FFD740;font-weight: 400;font-size: 1.2em;"> {{currentUser.mobile}}</span></span>
                            </div>
                                
                            </div>
                        </div>
                        <div flex></div>
                  </div>
                  </md-content>