<div class="row">
	<div class="col-sm-8 right-border bs-component" ng-controller="cartCtrl">
	<div class="bottom-border well">
	        <button ui-sref="home" class="btn btn-info btn-raised" ng-if="cart.items.length == 0">Continue Shopping...</button>
			<table class="table table-stripped table-responsive" ng-if="cart.items.length > 0">
				<thead class="">
					<tr>
						<td></td>
						<td>Name</td>
						<td>Qwt</td>
						<td>Price</td>
						<td></td>
					</tr>
			   </thead>
			   <tbody>
				   <tr ng-repeat="item in cart.items">
					  <td><img class="img-thumbnil img-responsive" ng-src="{{item.itemId.images[0].file}}" width="50" height="100"></td>
					  <td>{{ item.itemId.name | uppercase }}</td>
					  <td><span ng-model="item.quantity" style="padding: 5px 10px 5px 10px;">{{ item.quantity }}</span></td>   
					  <td>{{ item.itemId.offerPrice | currency:'&#8377;' }}</td>
					  <td><h3><i class="fa fa-trash" ng-click="cartItemRemove($index,item.id)" style="cursor:pointer;"></i></h3></td>
				  </tr>
				 <tr class=""><td>Shipping Charges</td><td></td><td></td><td>{{ shippingCharge | currency:"&#8377;"}}</td><td></td></tr>
		         <tr><td>Total</td><td></td><td></td><td>{{ cart.total + shippingCharge | currency:"&#8377;"}}</td><td></td></tr>
		      </tbody>
	      </table>
      </div>
     <div class="panel panel-warning">
	<div class="panel-heading">
	   <div class="bs-component" >
		<h5>Shipping Address
			<spandata-toggle="tooltip" data-placement="top" data-original-title="Tooltip on top" title="on top"  >
			<i class="fa fa-pencil pull-right" ui-sref="checkout.address" style="cursor: pointer;font-size: 20px;"></i>
			<i class="pull-right" ui-sref="checkout.address">edit</i><div class="ripple-container"></div>
			</span>
		</h5>
	 </div>
        
   </div>
   <div class="panel-body">
	<div class="col-sm-6">
	   <div class="address">
			  <b>{{ currentUser.username }}</b><br/>
			  {{currentUser.address.shippingAddress }}
			  {{ currentUser.address.pincode}}<br/>
			  <span class="text-strong">Mobile.</span> {{ currentUser.mobile }}
	   </div>
   </div>
  </div>
</div>
  </div>
   <div class="form-group">
	<div class="col-sm-4 bottom-border">
		<h4 class="text-muted bottom-border control-label">Payment Method</h4>
		<form  novalidate>
                  <div class="radio radio-primary">
                    <label>
                      <input type="radio" checked="" value="COD"  name="PaymentMethod" ng-model="orderDetails.paymentMethod">
                      <span class="circle"></span>
                      <span class="check"></span>
                      Cash On Delivery
                    </label>
                  </div>
                  <div class="radio radio-primary">
                    <label>
                      <input type="radio" disabled checked="true" value="Paytm" id="radioPaytm" name="PaymentMethod" ng-model="orderDetails.paymentMethod"><span class="circle"></span><span class="check"></span>
                      Paytm
                    </label>
                  </div>{{cart.items.length}}
                  <button  ng-if="shoppingCart.items.length > 0" type="button" id="place_order_id" data-loading-text="Loading..."  ng-click="placeOrder(orderDetails)" class="btn btn-raised btn-success">Place Order</button>
                 
	           </div>
        </form>
    </div>
    <div class="col-sm-4" style="margin-top:5px;" ng-if="order.id != null">
       <p class="well"> your Order has been placed with id {{order.id}}</p>
    </div>
 </div>
</div>
 
