<div class="row">
    <h4 class="text-muted">Shipping Details</h4>
    <div class="col-sm-10">
	    <div class="bs-component">
		    <div class="panel panel-warning" ng-show="showShippingAddress">
		        <div class="panel-heading">
				  <span>Address</span>
                  <span class="pull-right">
					<i class="fa fa-pencil" style="cursor: pointer;font-size: 20px;" ng-click="editShippingAddress()"></i>
					<span  ng-click="editShippingAddress()">edit</span>
			      </span>
		        </div>
			    <div class="panel-body"> 
			        <div class="address">
				        <b>{{currentUser.username}}</b><br/>
				           {{currentUser.deliveryAddress}}
		                   {{currentUser.postalCode}}
		            </div>
		        </div>
		    </div>
	   </div>
	</div>
   <div class="col-sm-12 bs-component">
	  <form role="shippingDetailsForm" ng-show="isShippingAddressEdit"  style="padding: 1px 70px 0px 70px;" method="post"  ng-submit="shippingDetails(currentUser)" novalidate >
			<div class="form-group col-sm-12" >
				<label for="username"  class="control-label">Shipping Address</label>
				<input type="textarea" id="shippingAddress" class="form-control"  ng-model="currentUser.deliveryAddress" />
			</div>
			<div class="form-group col-sm-12" >
				<label for="username"  class="control-label">Area zip</label>
				<input type="text" id="postalCode" class="form-control"  ng-model="currentUser.postalCode" />
		   </div>
			<div class="form-group col-sm-12" >
				<label for="username"  class="control-label">Mobile No.</label>
				<input type="text" id="mobile" class="form-control" ng-model="currentUser.mobile" />
		   </div>
		   <div class="form-group">
				<div class="col-xs-6 col-xs-offset-3">
					<button class="btn btn-primary btn-raised" >
						Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
					</button>
			   </div>
		  </div>
	  </form>
	  <div class="col-xs-6 col-xs-offset-3">
			<button type="button" ui-sref="checkout.payment" ng-show="btnStatePayment" class="btn btn-primary btn-raised" >
						Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
			</button>
	 </div>
   </div>
</div>
