<div layout="row" layout-align="center center">
    <md-card flex="90">
        <md-toolbar class="toolbar-default margin-bottom-30">
            <div class="md-toolbar-tools">
                <h2>
                <span>CheckOut</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="More">
                    <span class="md-title">{{selectedTabIndex + 1}}/3</span>
                </md-button>
            </div>
        </md-toolbar>
        <md-progress-linear class="md-accent margin-bottom-20" md-mode="determinate" value="{{progress}}"></md-progress-linear>
        <md-tabs md-dynamic-height class="md-primary" md-selected="selectedTabIndex" md-stretch-tabs="always">
            <md-tab label="Login"  md-on-select="progress = 33;">
                <div ng-include="'views/checkout/checkout.login.tpl.html'"></div>
            </md-tab>
            <md-tab label="Address" md-on-select="progress = 66;validateState(selectedTabIndex);isEditable = false;disabled = !disabled">
                <div ng-include="'views/checkout/checkout.address.tpl.html'"></div>
            </md-tab>
            <md-tab label="Payment" md-on-select="progress = 100;validateState(selectedTabIndex);">
                <div ng-include="'views/checkout/checkout.payment.tpl.html'"></div>
            </md-tab>
        </md-tabs>
</md-card>
</div>

    

