<div layout="row" layout-xs="column">
	<div flex="25" dir-paginate="product in products | itemsPerPage: pageSize" current-page="currentPage" pagination-id="productPagination">
		<product-info product="product"></product-info>
	</div>
</div>
<div layout="row">
	<div class="text-center">
              <dir-pagination-controls boundary-links="true" pagination-id="productPagination" on-page-change="pageChangeHandler(newPageNumber)" template-url="js/directives/pages/dirPagination.html"></dir-pagination-controls>
    </div>
  </div>

     