<div layout="row" layout-padding>
    <div flex="10" class="md-whiteframe-z1 margin-20 text-center">
    	<img style="width:100%" height="60" class="md-user-avatar" ng-src="{{ img.file }}" ng-repeat="img in product.images" />
        <md-divider><md-divider/>
    </div>
	<div flex="50">
		<md-card>
		   <md-card-header>
               <md-card-header-text>
                    <span class="md-title">{{product.name}}</span>
                    <span class="md-subhead">With avatar image</span>
                </md-card-header-text>
            </md-card-header>
           <img class="md-card-image" ng-src="{{ product.images[0].file}}" alt="Product Image">
            <md-card-content>
               <p>olestias quasi sunt veniam.</p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center" ng-if="product.quantity" ng-controller="AddToCartCtrl">
                <md-button class="md-fab  md-accent" ng-click="addToCart(product)">
			        <md-icon  style="font-size: 20px;vertical-align: middle;" class="fa fa-shopping-cart">
			            <md-tooltip md-direction="top">Add to Cart</md-tooltip>
			        </md-icon>
		        </md-button>
		        <md-button class="md-fab md-primary" ng-click="buyNow(product)" >
			        <md-icon  style="font-size: 20px;vertical-align: middle;" class="fa fa-money">
			            <md-tooltip md-direction="top">Buy Now</md-tooltip>
			        </md-icon>
		        </md-button>
            </md-card-actions>
        </md-card>
	</div>
	<div flex class="md-whiteframe-z1 margin-20 text-center">
	    <md-list>
	  			<md-list-item>
	  				<span>By : {{product.supplier.shopname}}</span>
	  			</md-list-item>
	  			<md-divider></md-divider>
	  			<md-list-item>
	  				<p class="text-muted">Price&nbsp;:&nbsp;<span class="md-subhead product-detail-heading">{{ product.price | currency:"&#8377;"}}</span></p>
	  			</md-list-item>
	  			<md-divider></md-divider>
	  			<md-list-item>
	  				<p class="text-muted">Discount&nbsp;:&nbsp;<span class="md-subhead product-detail-heading">{{ product.discount}} %</span></p>
	  			</md-list-item>
	  			<md-divider></md-divider>
	  			<md-list-item>
	  				<p class="text-muted" ng-if="showOfferPrice(product.offerPrice,product.price)">Offer Price&nbsp;:&nbsp;<span class="md-subhead product-detail-heading">{{ (product.price - ((product.price*product.discount)/100)) | currency:'&#8377;'}}</span></p>
	  			</md-list-item>
	  			<md-divider></md-divider>
	  			<md-list-item>
	  				<p class="text-muted">Cash on Delivery:&nbsp;<span class="md-subhead product-detail-heading">Yes</span></p>
	  			</md-list-item>
	  			<md-divider></md-divider>
	  			<md-list-item>
	  				<span ng-if="showAvailabe(product.quantity)">Availability:&nbsp;</span><span class="md-subhead product-detail-heading" ng-if="showAvailabe(product.quantity)" >
					in Stock</span>
					<span  ng-if="!showAvailabe(product.quantity)" >
					<md-button class="md-warn md-link" >Out Of Stock</md-button></span>
					&nbsp;<span ng-if="showAvailabe(product.quantity)" class="text-muted">({{product.quantity}} left)</span>
	  			</md-list-item>
	  	</md-list>
	 </div>
</div>
 <md-divider></md-divider>

<div class="md-whiteframe-z1" style="margin:1%" ng-if="recommProductList.length >=1">
    <md-toolbar class="toolbar-default">
	    <div class="md-toolbar-tools">
	        <h2>
	          <span>Customer Who bought this also bought</span>
	        </h2>
	    </div>
	</md-toolbar>
	<div layout="row" layout-xs="column" layout-md="column" layout-padding layout-align="center center">
	    <md-button class="md-fab md-primary" ng-if="recommProductList.length > 4" >
			        <md-icon  style="font-size: 20px;vertical-align: middle;" class="zmdi zmdi-chevron-left">
			            <md-tooltip md-direction="left">Previous</md-tooltip>
			        </md-icon>
		        </md-button>
		<div ng-repeat="product in recommProductList | orderBy: 'discount' | limitTo:4" flex="25" flex-md="50">
				<md-card>
				    <p ng-if="product.discount" class="ps-discount">{{product.discount}} % off</p>
					<img  height="100" ng-src="{{product.image}}" alt="Product Image">
				  <md-card-title>
	                <md-card-title-text>
	                    <span class="md-subhead">{{product.name}}</span>
	                </md-card-title-text>
	              </md-card-title>
	              <md-card-actions layout="column" ng-controller="AddToCartCtrl">
	                    <md-button class="md-accent" ng-click="addToCart(product)">Add to Cart</md-button>
	                    <md-button class="md-primary" ui-sref="product.view({id: product.id})" >View</md-button>
	                </md-card-actions>
	               </md-card>
		</div>
		<md-button class="md-fab md-primary" ng-if="recommProductList.length > 4" >
			        <md-icon  style="font-size: 20px;vertical-align: middle;" class="zmdi zmdi-chevron-right">
			            <md-tooltip md-direction="right">Next</md-tooltip>
			        </md-icon>
		        </md-button>
	</div>
</div>
<md-divider></md-divider>
<div layout="row" style="margin:1%" layout-xs="column">
    <div flex class="md-whiteframe-z1 margin-20 text-center">
    	<md-toolbar>
		    <div class="md-toolbar-tools">
		        <h2>
		          <span>Reviews</span>
		        </h2>
		        <span flex></span>
		        <md-menu>
		            <md-button class="md-fab md-warn" ng-click="addReview($event)">
				        <md-icon  style="font-size: 20px;vertical-align: middle;" class="zmdi zmdi-plus">
				            <md-tooltip md-direction="top">Add Review</md-tooltip>
				        </md-icon>
				    </md-button>
		            <md-button class="md-button" aria-label="Add Review">
		        		<span class="md-subhead">Add your Review</span>&nbsp;<md-icon md-font-icon="fa fa-plus"></md-icon>
		        	<md-button>
		        </md-menu>
		    </div>
		</md-toolbar>
	<div>
	<div flex layout-padding >
		<md-list id="p-review">
			<md-list-item ng-repeat="review in reivews | orderBy:'createdOn'">
			        <md-icon hide-xs ng-if="!review.image.file" style="width:70px;height:70px" md-svg-icon="./assets/svg/avatar-1.svg" class="avatar"></md-icon>
					<img hide-xs ng-if="review.image.file" style="width:70px;height:70px" ng-src="{{review.image.file}}" class="avatar" />
					<h4>{{review.customer.firstname +" " +review.customer.lastname}}</h4> 
					     <div layout="column">
					        <div flex>
	                           <span>{{review.review}}<span>
	                        </div>
                            <div layout="row" layout-xs="column">
                                <p>
                                <i class="fa fa fa-star" ng-show="review.rating > 0"></i>
								<i class="fa fa fa-star" ng-show="review.rating > 1"></i>
								<i class="fa fa fa-star" ng-show="review.rating > 2"></i>
								<i class="fa fa fa-star" ng-show="review.rating > 3"></i>
								<i class="fa fa fa-star" ng-show="review.rating > 4"></i>
							    </p>
						    </div>
							<div layout="row" layout-xs="column" style="position: absolute;bottom: 5px;right: 0;" layout-align="end center" class="least-content">{{review.createdOn | date}}</div>
						</div>
                        <md-divider ng-if="!$last"></md-divider>
           </md-list-item>


		</md-list>	
	</div>
</div>
	
