<div class="row bottom-border" style="margin-left: 1px;padding: 5px;"> <!--  .product-view-row -->
			<div class="col-sm-6">
				<div class="row">
				    <div class="col-sm-2" ><!-- product-other-image-view --> 
						<div class="row" ng-repeat="img in product.images">
							<img class="img img-responsive" ng-src="{{ img.file }}" height="50" width="100" >
						</div>
						
				    </div><!-- /product-other-image-view --> 
				    <div class="col-sm-10" style="height: 422px; border:1px solid #ddd"><!-- product-image-view -->
						<img class="img img-responsive" ng-src="{{ product.images[0].file}}" alt="" style="max-height: 422px; max-width: 422px;">
				    </div><!-- /product-image-view -->
				</div>
			   
			</div>
			<div class="col-sm-5"> <!--  single-product-desc -->
			   <div class="row"> 
				<div class="col-sm-12 bottom-border">
				  <!-- <h5>Name : {{product.name | uppercase}}</h4>  -->
				   <span id="shop_name_span" >By : {{product.supplier.shopname}}</span><!-- shop-name-span -->
				   <div class="rating_div">
					<i class="fa fa fa-star"></i>
					<i class="fa fa fa-star"></i>
					<i class="fa fa-star-o"></i>
					<i class="fa fa-star-o"></i>
				   </div>
				</div>
				<div class="col-sm-12 bottom-border">
					<p class="text-muted">Price&nbsp;:&nbsp;<span class="text-success">{{ product.price | currency:'&#8377;'}}</span></p>
					<p class="text-muted">Discount&nbsp;:&nbsp;<span class="text-success">{{ product.discount}} %</span></p>
					<p class="text-muted" ng-if="showOfferPrice(product.offerPrice,product.price)">Offer Price&nbsp;:&nbsp;<span class="text-success">{{ (product.price - ((product.price*product.discount)/100)) | currency:'&#8377;'}}</span></p>
					<p class="text-muted">Cash on Delivery:&nbsp;<span class="text-primary">Yes</span></p>
					<p class="text-muted">Availability:&nbsp;<span class="text-primary" ng-if="showAvailabe(product.quantity)" >
					in Stock</span><span class="text-primary" ng-if="!showAvailabe(product.quantity)" >
					Out Of Stock</span>&nbsp;<span ng-if="showAvailabe(product.quantity)" class="text-primary">({{product.quantity}} left)</span></p>
				</div>
				<div class="col-sm-12" ng-controller="AddToCartCtrl">
				   <button class="btn btn-raised btn-success" ng-click="buyNow(product)">Buy Now</button>
				   <button class="btn btn-raised btn-success" ng-click="addToCart(product)">Add to Cart</button>
				</div>
			   </div>
			</div><!--  /single-product-desc -->
		</div><!--  /.product-view-row -->
		<div class="row"><!--  .other-product-row -->
			<h3 class="bottom-border">Customer Who bought this also bought</h3>
			<div class="col-sm-12" style="min-height: 100px;">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				<!-- Wrapper for slides -->
			   <div class="carousel-inner" role="listbox">
				<div class="item active"> <!--  item-active-div  each contains-3 items-->
					<div class="col-sm-3"> <!-- single product -->
				<div class="row">
					<div class="col-sm-6">
						<a href="#">
						 <img class="img img-responsive img-rounded" src="images/0.jpg" width="250" height="250"  alt="">
						</a>
						<div class="rating_div">
							<i class="fa fa fa-star"></i>
							<i class="fa fa fa-star"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
						</div>
				   </div>
				   <div class="col-sm-6 text-muted">
					  <h5><b>name</b></h5>
			       </div>
			       <div class="col-sm-6">
					   <i class="fa fa-inr"></i>&nbsp;200
				   </div>
				   
				</div>
			</div><!--/single product -->
			<div class="col-sm-3"> <!-- single product -->
				<div class="row">
					<div class="col-sm-6">
						<a href="#">
						 <img class="img img-responsive img-rounded" src="images/2.jpg" width="250" height="250"  alt="">
						</a>
						<div class="rating_div">
							<i class="fa fa fa-star"></i>
							<i class="fa fa fa-star"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
						</div>
				   </div>
				   <div class="col-sm-6 text-muted">
					  <h5><b>name</b></h5>
			       </div>
			       <div class="col-sm-6">
					   <i class="fa fa-inr"></i>&nbsp;200
				   </div>
				   <div class="col-sm-8 bottom-border" style="padding-bottom: 5px;">
				   </div>
				</div>
			</div><!--/single product -->
			<div class="col-sm-3"> <!-- single product -->
				<div class="row">
					<div class="col-sm-6">
						<a href="#">
						 <img class="img img-responsive img-rounded" src="../app1/images/2.jpg" width="250" height="250"  alt="">
						</a>
						<div class="rating_div">
							<i class="fa fa fa-star"></i>
							<i class="fa fa fa-star"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
						</div>
				   </div>
				   <div class="col-sm-6 text-muted">
					  <h5><b>name</b></h5>
			       </div>
			       <div class="col-sm-6">
					   <i class="fa fa-inr"></i>&nbsp;200
				   </div>
				   
				</div>
			</div><!--/single product -->
		 </div><!--  /item-active-div  -->
	     <div class="item">
			<div class="col-sm-3"> <!-- single product -->
				<div class="row">
					<div class="col-sm-6">
						<a href="#">
						 <img class="img img-responsive img-rounded" src="../app1/images/f.jpg" width="250" height="250"  alt="">
						</a>
						<div class="rating_div">
							<i class="fa fa fa-star"></i>
							<i class="fa fa fa-star"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
						</div>
				   </div>
				   <div class="col-sm-6 text-muted">
					  <h5><b>name</b></h5>
			       </div>
			       <div class="col-sm-6">
					   <i class="fa fa-inr"></i>&nbsp;200
				   </div>
				   
				</div>
			</div><!--/single product -->
		</div>
	 </div>
  </div>
 <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div><!--  /.other-product-row -->
<div class="" style="margin-top: 10px;">
	<div class="bottom-border">
		<h4>Reviews</h4>
	</div>
	<div class="bs-component">
				<div class="list-group" ng-repeat="review in reivews">
					<div class="list-group-item">
						<div class="row-action-primary">
						<i class="material-icons">folder</i>
						</div>
						<div class="row-content">
						<div class="least-content">{{review.createdOn | date}}</div>
						<h4 class="list-group-item-heading">{{review.customer.firstName +" " +review.customer.lastName}}</h4>
						<p class="list-group-item-text">{{review.review}}</p>
						<p class="rating_div" ng-if="review.rating == 4"><i class="fa fa fa-star"></i>
						   <i class="fa fa fa-star"></i>
						   <i class="fa fa fa-star"></i>
						   <i class="fa fa fa-star"></i>
						</p>
                        <p class="rating_div" ng-if="review.rating == 5">
						   <i class="fa fa fa-star"></i>
						   <i class="fa fa fa-star"></i>
						   <i class="fa fa fa-star"></i>
						   <i class="fa fa fa-star"></i>
						   <i class="fa fa fa-star"></i>
						</p>
						<p class="rating_div" ng-if="review.rating == 3" >
						   <i class="fa fa fa-star"></i>
						   <i class="fa fa fa-star"></i>
						   <i class="fa fa fa-star"></i>
                        </p>
						<p class="rating_div" ng-if="review.rating == 2" >
						  <i class="fa fa fa-star"></i>
						  <i class="fa fa fa-star"></i>
						</p>
						<p class="rating_div" ng-if="review.rating == 1" >
						   <i class="fa fa fa-star"></i>
						</p>
						</div>
					</div>
					<div class="list-group-separator"></div>
				</div>
	</div>
</div>


	

