<ol class="breadcrumb" >
  <li ng-repeat="text in breadcumb">
    <a href="#">{{text}}</a>
  </li>
  
</ol>
<div class="well">
  <div class="btn-group btn-raised pull-right" style="margin-top:-18px;" uib-dropdown>
      <button id="split-button" type="button" class="btn btn-default btn-raised">Sort By: </button>
      <button type="button" class="btn btn-raised btn-default" uib-dropdown-toggle>
        <span class="caret"></span>
        <span class="sr-only">Split button!</span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
        <li role="menuitem"><a ng-click="sortBy('price','desc')">Price: higher to lower<a></li>
        <li class="divider"></li>
        <li role="menuitem"><a ng-click="sortBy('price','asc')">Price: lower to higher</a></li>
        <li class="divider"></li>
      </ul>
    </div>
</div>
<div class="row">
   <div class="items-wrap" ng-init="loading = false;">
   <div infinite-scroll="loadMore()" infinite-scroll-disabled="loading" infinite-scroll-distance="2">
	   <div class="col-sm-3 ps-single-item"   ng-repeat="product in products">
	         <product-info product="product"></product-info>
	   </div>
	</div>
   </div>
   
</div>

