<ol class="breadcrumb" >
  <li><a href="#">Home</a></li>
  <li><a href="#">Library</a></li>
  <li class="active">Data</li>
</ol>
<div class="breadcrumb">
   SortBy: <input class="pull-right form-input" type="text" value="by Price">
</div>
<div class="row">
   <div class="items-wrap" ng-init="loading = false;">
   <div infinite-scroll="loadMore()" infinite-scroll-disabled="loading" infinite-scroll-distance="2">
	   <div class="col-sm-3 ps-single-item"   ng-repeat="product in products">
	         <product-info product="product"></product-info>
	   </div>
	</div>
   </div>
</div>

