<div class="bottom-border well bs-componenet">
    <div class="alert alert-info">
       <ul><li>Only Customer Who has bought this Product and SignUp Would be able to add review</li></ul>
    </div>
    <form name="reviewform">
	    <div class="form-group label-floating is-empty">
				<label for="review" class="control-label">Your Review</label>
				<textarea ng-required="true" class="form-control" ng-model="reviewForm.review" name="review" maxlength="300" cols="70"></textarea>
	    </div>
		<div class="form-group">
				<label for="userimageFile"> Your Rating:</label>
				<div class="rating_div">
				  <i class="fa fa-star-o" ng-click="toggleRating(1)"></i>
				  <i class="fa fa-star-o" ng-click="toggleRating(2)"></i>
				  <i class="fa fa-star-o" ng-click="toggleRating(3)"></i>
				  <i class="fa fa-star-o" ng-click="toggleRating(4)"></i>
				  <i class="fa fa-star-o" ng-click="toggleRating(5)"></i>
				</div>
		   </div>
		   <div class="form-group">
		   	<button type="submit" class="btn btn-success btn-raised"  >Submit</button>
		   </div>
		</form>
		<form ng-show="addPrifileImage">
           <div class="form-group">
				<label for="userimageFile">Upload Your Image</label>
				<upload-file></upload-file>
		    </div>
		</form>
</div>
      <div class="row bottom-border" style="margin-top: 10px;"> <!-- review-row  -->
         <div class="col-sm-12"><!-- .col-sm-12 -->
			<div class="media"><!-- single media -->
				<div class="media-left">
					<img class="media-object img-circle" src="../app1/images/25780.jpg" alt="..." width="100"  height="auto">
				</div>
				<div class="media-body">
					<h4 class="media-heading">Customer Name</h4>
					<div class="rating_div">
						<i class="fa fa fa-star"></i>
						<i class="fa fa fa-star"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
				    </div>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio
				</div>
			</div><!-- /single media -->
			<div class="media"><!-- single media -->
				<div class="media-left">
					<img class="media-object img-circle" src="../app1/images/25780.jpg" alt="..." width="100"  height="auto">
				</div>
				<div class="media-body">
					<h4 class="media-heading">Customer Name</h4>
					<div class="rating_div">
						<i class="fa fa fa-star"></i>
						<i class="fa fa fa-star"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
				    </div>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio
				</div>
			</div><!-- /single media -->
		</div><!-- /.col-sm-12 -->
	</div><!-- /review-row  -->

   

