<div class="ui-view-container">
	<ui-view>
	<table class="table table-responsive table-striped">
	  <thead>
	  	<th>User Name</th>
	  	<th>Email</th>
	  	<th>Enable</th>
	 </thead>
	 <tbody>
	 	<tr>
	 		<td>pawan</td>
	 		<td>pawan@gmail.com</td>
	 		<td>true</td>
	 		<td>
	 			<button class="btn btn-danger btn-raised" ui-sref="dashboard.viewUser">View</button>
	 			<button class="btn btn-success btn-raised">Enable</button>
	 		</td>
	 		
	 	</tr>
	 	<tr>
	 		<td>pawan</td>
	 		<td>pawan@gmail.com</td>
	 		<td>true</td>
	 		<td><button class="btn btn-success btn-raised">enable</button></td>
	 	</tr>
	 	<tr>
	 		<td>pawan</td>
	 		<td>pawan@gmail.com</td>
	 		<td>true</td>
	 		<td><button class="btn btn-success btn-raised">enable</button></td>
	 	</tr>


	 </tbody>

	</table>
	</ui-view>
</div>