<div class="row">
  <div class="col-sm-12">
     <div class="bs-component">
        <div class="panel panel-inverse">
           <div class="panel-heading">
                <div>Search
                <button class="btn btn-primary pull-right fa fa-plus" ng-click="showAddProduct();resetDept();reset();" style="color:white;margin-top:-5px">Add Product</button></div>
            </div>

           <div class="panel-body">
	           	<form>
	           	  <div class="form-group col-sm-2 right-border" style="margin:0px">
	                 <select title="Search By Department" name="status" class="form-control" ng-model="productForm.department" ng-change="getCategories(productForm.department)">
	                    <option ng-if="productDepartments" ng-repeat="department in productDepartments" value="{{department.id}}">{{department.name | lowercase}}</option>
                   </select>
	              </div>
	              <div class="form-group col-sm-2 right-border" style="margin:0px">
	                 <select title="Search By Category" name="category" class="form-control" ng-model="productForm.category">
	                    <option ng-if="productcategories" ng-repeat="category in productcategories" value="{{category.id}}">{{category.name | lowercase}}</option>
                     </select>
                     </div>
	              <div class="form-group col-sm-2 right-border" style="margin:0px">
	                  <input type="text" title="Search By ID" class="form-control" placeholder="Search by ID" ng-model="productForm.byProductId">
	              </div>
	              <div class="form-group col-sm-3 right-border" style="margin:0px">
	                  <input title="Created Date" type="date" style="min-width: 150px;" class="form-control" ng-model="productForm.byCreatedTime">
	              </div>
	              <div class="form-group  col-sm-3" style="margin:0px">
	              	<button title="Filter" class="btn btn-sm btn-raised btn-success" ng-click="search()"><i class="fa fa-filter"></i>Go</button>
	                <button title="Reset Filter" class="btn btn-raised btn-warning" ng-click="reset()"><i class="fa fa-refresh pull-right"></i></button>
	              </div>
	            </form>
           </div>
        </div>
        </div>
       <div class="well col-sm-12">
         <div class="bs-component">
        <table class="table table-responsive">
	      <thead>
	          <th>Thumbnil</th>
	          <th>Product ID</th>
	          <th>Name</th>
	          <th>created On</th>
	          <th>Price</th>
	          <th>Quantity</th>
	          <th></th>
	      </thead>
	      <tbody>
	        <tr ng-if="products.length == 0"><td md-cell colspan="5" style="text-align: center;"><b>No  Data Found</b></td></tr>
	        <tr ng-repeat="product in products">
	          <td><img class="img img-responsive" ng-src="{{product.images[0].file}}" width="50" height="50"></img></td>
	          <td>{{product.id}}</td>
	          <td>{{product.name}}</td>
	          <td>{{product.createdtime | date}}</td>
	          <td>{{product.price }}</td>
	          <td>{{product.quantity}}</td>
	          <td>
	            <button  style="margin: 0px;" class="btn btn-sm btn-success btn-raised" ng-click="viewProduct(product);">View</button>
	            <button ng-show="!product.showitem && isAuthorized(userRoles.admin)" class="btn btn-sm btn-success btn-raised" ng-click="enableDisableProduct(product,$index,'enable')">Enable</button>
	            <button ng-show="product.showitem && isAuthorized(userRoles.admin)" class="btn btn-sm btn-danger btn-raised" ng-click="enableDisableProduct(product,$index,'disable')">Disable</button>
	         </td>
	         </tr>
	      </tbody>
	    </table>
	   </div>
	 </div>
  </div>
  
