<div class="row" ng-init="isAddProduct = false">
  <div class="col-sm-12">
     <div class="bs-component">
        <div class="panel panel-inverse">
           <div class="panel-heading">
                <div>Search
                <button class="btn btn-primary pull-right" ng-click="isAddProduct =! isAddProduct" style="color:white;margin-top:-5px">Add Product</button></div>
            </div>

           <div class="panel-body">
	           	<form  ng-submit="search()">
	           	  <div class="form-group col-sm-3 right-border" style="margin:0px">
	                 <select name="status" class="form-control" ng-model="productForm.status" ng-change="search()">
	                    <option value="">--select--</option>
	                    <option ng-repeat="department in productDepartments" value="{{department.value}}">{{department.name}}</option>

	                 </select>
	              </div>
	              <div class="form-group col-sm-3" style="margin:0px">
	                  <input type="text" class="form-control" placeholder="Search by product ID" ng-model="productForm.byProductId" ng-change="search()">
	              </div>
	            </form>
           </div>
        </div>
        </div>
       <div class="well col-sm-12">
         <div class="bs-component">
        <table class="table table-responsive">
	      <thead>
	          <th>Thumbnil</th>
	          <th>Product ID</th>
	          <th>Name</th>
	          <th>created On</th>
	          <th>Price</th>
	          <th>Quantity</th>
	          <th></th>
	      </thead>
	      <tbody>
	        <tr ng-if="products.length == 0"><td md-cell colspan="5" style="text-align: center;"><b>No  Data Found</b></td></tr>
	        <tr ng-repeat="product in products">
	          <td><img class="img img-responsive" ng-src="{{product.images[0].file}}" width="50" height="50"></img></td>
	          <td>{{product.id}}</td>
	          <td>{{product.name}}</td>
	          <td>{{product.createdtime | date}}</td>
	          <td>{{product.price }}</td>
	          <td>{{product.quantity}}</td>
	          <td>
	            <button  style="margin: 0px;" class="btn btn-sm btn-success btn-raised" ng-click="viewProduct(product);">View</button>
	            <button ng-show="!product.showItem" class="btn btn-sm btn-success btn-raised">Enable</button>
	            <button ng-show="product.showItem" class="btn btn-sm btn-danger btn-raised">Disable</button>
	         </td>
	         </tr>
	      </tbody>
	    </table>
	   </div>
	 </div>
  </div>
