<div class="col-sm-12">
   <div class="row bottom-border">
     <div class="col-sm-2 col-sm-offset-9">
     	 <button class="btn btn-raised btn-success" ng-click="showAddSupplierModal(true)">
     	   Add Supplier<i class="fa fa-plus"></i>
     	 </button>
     </div>
   </div>
   <div class="row">
		<table class="table table-responsive table-striped">
			<thead>
			  	<th>Supplier Name</th>
			  	<th>Email</th>
			  	<th>Deleted</th>

			  	
			</thead>
			<tbody>

			 	<tr ng-repeat="supplier in suppliers" ui-sref="dashboard.userManagement.({id:supplier.id})">
			 	    <td>{{supplier.detail.firstName +" "+supplier.detail.lastName }}</td>
			 		<td>{{supplier.detail.email}}</td>
			 		<td ng-if="supplier.deleted">Yes</td>
			 		<td ng-if="!supplier.deleted">No</td>
			 		<td></td>
			 		<td>
			 		    
			 			<button ng-if="supplier.enabled" class="btn btn-danger btn-raised" ng-click="adminAction('disable',supplier,$index,'supplier')">Disable</button>
			 			<button ng-if="!supplier.enabled" ng-click="adminAction('enable',supplier,$index,'supplier')" class="btn btn-success btn-raised">Enable</button>
			 			<button class="btn btn-danger btn-raised" ng-click="adminAction('delete',supplier,$index,'supplier')">Delete</button>
			 		</td>
			   </tr>
			</tbody>
		</table>
	</div>
</div>
