<div class="col-sm-12">
   <div class="row bottom-border">
     <div class="col-sm-2 col-sm-offset-9">
     	 <button class="btn btn-raised btn-success" ng-click="showAddSupplierModal(true)">
     	   Add Supplier<i class="fa fa-plus"></i>
     	 </button>
     </div>
   </div>
   <div class="row">
		<table class="table table-responsive table-striped">
			<thead>
			  	<th>Supplier Name</th>
			  	<th>Email</th>

			  	
			</thead>
			<tbody>

			 	<tr ng-repeat="supplier in suppliers" ui-sref="dashboard.userManagement.({id:supplier.id})">
			 	    <td>{{supplier.detail.firstName +" "+supplier.detail.lastName }}</td>
			 		<td>{{supplier.detail.email}}</td>
			 		<td></td>
			 		<td></td>
			 		<td>
			 		    
			 			<button ng-if="supplier.enabled" class="btn btn-danger btn-raised" ng-click="adminAction('disable',supplier,$index,'supplier')">Disable</button>
			 			<button ng-if="!supplier.enabled" ng-click="adminAction('enable',supplier,$index,'supplier')" class="btn btn-success btn-raised">Enable</button>{{supplier.detail}}
			 			<button class="btn btn-danger btn-raised" ng-click="adminAction('delete',supplier,$index,'supplier')">Delete</button>
			 		</td>
			   </tr>
			</tbody>
		</table>
	</div>
</div>
<div class="bs-component">
	<modal title="Create Supplier" visible="isAddSupplier">
		<div class="row">
			<div class="col-sm-12">
				<form class="bs-component" role="supplierForm" class="form-horizontal" style="padding: 1px 70px 0px 70px;"
					name="supplierForm" ng-controller="supplierCtrl"
					ng-submit="addSupplier(supplier)" novalidate>
				  <div class="row">
				        <div class="col-sm-6">
							<div class="form-group label-floating is-empty">
								<label for="suppliername" class="control-label">Supplier Name</label><input id="suppliername"
									class="form-control" ng-model="supplier.suppliername" />
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group label-floating is-empty">
								<label for="shopname" class="control-label">Shop Name</label><input id="suppliername"
									class="form-control" ng-model="supplier.shopname" />
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group label-floating is-empty">
								<label for="password" class="control-label">Password</label> 
								<input class="form-control"
									type="password"  required id="password"
									ng-model="credentials.password" />
							</div>
						</div>
				    </div>
					<input type="submit" class="btn btn-success  btn-raised col-sm-12"
						value="Create">
					
				</form>
			</div>
		</div>
    </modal>
</div>

