<div class="row" ng-init="isAddUser = false">
  <div class="col-sm-12 bottom-border">
     <div class="bs-component">
        <div class="panel panel-inverse">
           <div class="panel-heading">
                <div>Search<button class="btn btn-primary pull-right" ng-click="isAddUser =! isAddUser" style="color:white;margin-top:-5px">Add User <i class="fa fa-user-plus"></i></button></div>
                
           </div>

           <div class="panel-body">
           <form >
              <div class="form-group col-sm-3 right-border" style="margin:0px">
                 <select name="selectRole" class="form-control" ng-model="form.byRole">
                    <option value="">--select--</option>
                    <option value="ROLE_USER">USER</option>
                    <option value="ROLE_SUPPLIER">SUPPLIER</option>
                 </select>
              </div>
              <div class="form-group col-sm-3" style="margin:0px">
                  <input type="text" class="form-control" placeholder="Search by Username" ng-model="form.byName">
              </div>
              <div class="form-group  col-sm-3" style="margin:0px">
                  <button title="Filter" class="btn btn-sm btn-raised btn-success" ng-click="search()"><i class="fa fa-filter"></i>Go</button>
                  <button title="Reset Filter" class="btn btn-raised btn-warning" ng-click="reset()"><i class="fa fa-refresh pull-right"></i></button>
                </div>
            </form>
           </div>
        </div>
        
     </div>
  
  <div class="col-sm-12 well">
	 <table class="table table-responsive">
      <thead>
          <th>User Name</th>
          <th>Email</th>
          
      </thead>
      <tbody>
        <tr ng-if="users.length == 0"><td md-cell colspan="5" style="text-align: center;"><b>No  Data Found</b></td></tr>
        <tr ng-repeat="user in users">
          <td ui-sref="dashboard.userManagement.viewUser({id:user.id})">{{user.firstname + " " + user.lastname }}</td>
          <td>{{user.email}}</td>
          <td></td>
          <td></td>
          <td>
            <button ng-if="user.enabled && !user.deleted" class="btn btn-danger btn-sm btn-raised" ng-click="adminAction('disable',user,$index)">Disable</button>
            <button ng-if="!user.enabled && !user.deleted" ng-click="adminAction('enable',user,$index)" class="btn btn-sm btn-success btn-raised">Enable</button>
            <button ng-if="!user.deleted" class="btn btn-danger btn-sm btn-raised" ng-click="adminAction('delete',user,$index)">Delete</button>
          </td>
         </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
<div class="bs-component">
  <modal title="Create User" visible="isAddUser" >
    <div class="row">
      <div class="col-sm-12">
        <form class="bs-component" role="userForm"  style="padding: 1px 70px 0px 70px;"
          name="userForm" ng-init="disable = false" 
          ng-submit="addUser(createUserform);" novalidate>

          <div class="row">
                <div class="form-group">
                  <div class="alert alert-danger" ng-show="errorDialog">{{ message }}</div>
                </div>
                <div class="col-sm-6">
              <div class="form-group label-floating is-empty">
                <label for="username" class="control-label">User Name<font color="red">*</font></label>
                <input ng-required="true" id="username" name="username"  required class="form-control" ng-model="createUserform.username" />
                <div ng-messages="userForm.username.$error" ng-if="userForm.username.$touched">
                    <div ng-message="required"><font color="red" >this field is required</font></div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group label-floating is-empty">
                <label name="firstname" class="control-label">First Name<font color="red">*</font></label>
                <input ng-required="true" class="form-control" name="firstName"  required ng-model="createUserform.firstname" />
                <div ng-messages="userForm.firstName.$error" ng-if="userForm.firstName.$touched">
                    <div ng-message="required"><font color="red" >this field is required</font></div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group label-floating is-empty">
                <label name="lastname" class="control-label">Last Name<font color="red">*</font></label>
                <input ng-required="true" class="form-control" name="lastName" required ng-model="createUserform.lastname" />
                <div ng-messages="userForm.lastName.$error" ng-if="userForm.lastName.$touched">
                    <div ng-message="required"><font color="red" >this field is required</font></div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group label-floating is-empty">
                <label for="email" class="control-label">Email<font color="red">*</font></label>
                <input  ng-required="true" type="email" name="email" class="form-control"  required ng-model="createUserform.email" />
                <div ng-messages="userForm.email.$error" ng-if="userForm.email.$touched">
                    <div ng-message="required"><font color="red" >this field is required</font></div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group label-floating is-empty">
                <label for="mobile" class="control-label">Mobile<font color="red">*</font></label>
                <input  ng-required="true" type="mobile" ng-maxlength=10 maxlength=10 name="mobile" required class="form-control" ng-model="createUserform.mobile" />
                <div ng-messages="userForm.mobile.$error" ng-if="userForm.mobile.$touched">
                    <div ng-message="required"><font color="red" >this field is required</font></div>
                    <div ng-message="maxlength"><font color="red" >maximum length 10</font></div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group is-empty label-floating">
                <label for="selectrole"  class="control-label">Role<font color="red">*</font></label>
                <select ng-model="createUserform.roles[0].roleName" class="form-control" id="selectrole" ng-change="roleChange()">
                      <option value=""></option>
                      <option value="ROLE_USER">User</option>
                      <option value="ROLE_SUPPLIER">Supplier</option>
                </select>
                  <span class="material-input"></span>
              </div>
            </div>
          </div>
          <!-- <input type="submit" class="btn btn-success  btn-raised col-sm-12" value="Create" ng-disabled="userForm.$invalid || disable" ng-click="disable=!disable;"> -->
          <input type="submit" class="btn btn-success  btn-raised col-sm-12" value="Create" ng-disabled="userForm.$invalid || disable"> 
          
        </form>
      </div>
    </div>
    </modal>
</div>

