<div class="col-sm-3 col-xs-6" id="feature_product_div">
				   <h5 class="text-info"><strong class="bottom-border" style="margin-left: 10px;">Feature Products</strong></h5>
				  <!-- feature product sigle-->
				   <div class="row ">
					<div class="col-sm-6">
						<a href="#">
						 <img class="img img-responsive img-rounded" src="../app1/images/25.jpg" width="250" height="250"  alt="">
						</a>
						<div class="rating_div">
							<i class="fa fa fa-star"></i>
							<i class="fa fa fa-star"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
						</div>
				   </div>
				   <div class="col-sm-6 text-muted">
					  <h5><b>name</b></h5>
			       </div>
			       <div class="col-sm-6">
					   <i class="fa fa-inr"></i>&nbsp;200
				   </div>
				   <div class="col-sm-8 bottom-border" style="padding-bottom: 5px;">
				   </div>
				 </div><!-- /feature product sigle -->
			  </div>