<footer class="top-border" style="margin-top: 5px;">
		<div class="row">
		<div class="col-sm-3">
			<div class="text-muted"> 
				<h5>Copyright © shop</h5>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="text-muted">
				<h5>Join us</h5> 
				<a href="#"><i class="fa fa-facebook-square"></i></a>&nbsp;
				<a href="#"><i class="fa fa-google-plus"></i></a>&nbsp;
				<a href="#"><i class="fa fa-whatsapp"></i></a>&nbsp;
			</div>
		</div>
		<div class="col-sm-3">
			<div class="text-muted">
				<h5><a href="#"> About us </a> | <a href="#">Refund Policy</a></h5>
			</div>
		</div>
  </div>
		
    </footer>