<div  class="well">
   <div class="bs-component">
   <button type="button" ui-sref="account.orders" class="btn btn-primary">back</button><i class="fa fa-home"></i>
  <table class="table">
     <thead>
      <th>itemId</th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Unit Price</th>
     </thead>
     <tbody>
       <tr ng-repeat="item in order[0].details">
         <td>{{item.id}}</td>
         <td>{{item.productId.name}}</td>
         <td>{{item.quantity}}</td>
         <td>{{item.unitCost}}</td>
       </tr>
     </tbody>
  </table>
  </div>
</div>
