<md-table-container class="sd-data-table-container border-top" ng-show="shoppingCart.items.length > 0">
    <table md-table class="md-primary md-data-table">
		<thead md-head>
			<tr md-row>
				<th style="width:20%"></th>
				<th style="width:20%">Name</th>
				<th style="width:20%">Qwantity</th>
				<th style="width:20%">Price</th>
				<th style="width:20%">Action</th>
			</tr>
		</thead>
		<tbody md-body>
			<tr md-row ng-repeat="item in shoppingCart.items">
				<td md-cell>
					<img class=" ps-cart-img" ng-src="{{item.itemId.images[0].file}}">
				</td>
				<td md-cell>{{ item.itemId.name | uppercase }}</td>
				<td md-cell><span class="ps-view-cart-updown" ng-click="upQwt($index,shoppingCart)">+</span><span style="margin: 0px 5px 0 5px;">{{ item.quantity }}</span><span class="ps-view-cart-updown" ng-click="downQwt($index,shoppingCart)">-</span></td>
				<td md-cell>{{ item.itemId.price | currency:'&#8377;' }}</td>
					<td md-cell ng-click="cartItemRemove($index,item.id)">
						<md-icon class="zmdi zmdi-delete" style="font-size: 20px;">
							<md-tooltip md-direction="top">Delete</md-tooltip>
						</md-icon>
					</td>
			</tr>
		</tbody>
	</table>
</md-table-container>