<!--<div class="view view-first" ng-controller="AddToCartCtrl as cartCtrl">
	<img class="img img-thumbnil img-responsive" ng-src="{{ product.images[0].file }}" >
    	<div class="mask" ng-if="product.quantity">
			<h2>{{ product.name }}</h2> 
			<p class="caption">{{ product.name | uppercase }}</p> 
			<a class="info" ng-click="addToCart(product)">Add to cart</a>
            <a ui-sref="product.view({id: product.id})" class="info">view</a>
        </div>
        <div class="mask" ng-if="!product.quantity">
           <h2 style="margin-top: 140px;">Out of Stock</h2>
        </div>
</div>
<p class="price">{{ product.price | currency:"&#8377;"}}</p>
<p ng-if="product.discount" class="ps-discount">{{product.discount}} % off</p>
-->
<md-card class="product">
    <p ng-if="product.discount" class="ps-discount">{{product.discount}} % off</p>
    <img height="150" ng-src="{{ product.images[0].file }}" alt="Product Image">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline"> {{ product.price | currency:"&#8377;"}}</span>
            <span class="md-subtitle">{{product.name}}</span>
            

        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit..</p>
    </md-card-content>

    <md-divider></md-divider>

    <md-card-actions layout="row" layout-align="end center" ng-controller="AddToCartCtrl as cartCtrl">
        <md-button class="md-fab  md-accent" ng-click="addToCart(product)">
        <md-icon  style="font-size: 20px;vertical-align: middle;" class="fa fa-shopping-cart">
            <md-tooltip md-direction="top">Add to Cart</md-tooltip>
        </md-icon>
        </md-button>
        <md-button class="md-fab md-primary" ui-sref="product.view({id: product.id})" >
        <md-icon  style="font-size: 20px;vertical-align: middle;" class="fa fa-eye">
            <md-tooltip md-direction="top">View</md-tooltip>
        </md-icon>
        </md-button>
    </md-card-actions>

</md-card>
