.ui-view-container
{
  min-height: 620px;
  position: relative;
}

#form-views
{ 
width:auto;
position: relative; 

}

.bottom-border{
  border-bottom:1px solid #ddd
}

.top-border{
  border-top:1px solid #ddd
}

.right-border{
  border-right:1px solid #ddd
}

.left-border{
  border-left:1px solid #ddd
}

#product_category_div .list-group-item:first-child 
{
	border-radius: 0px;
}

#product_category_div .list-group-item
{
    border: 0px;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: -19px;
 
}

#product_category_div .list-group-item:hover
{
	background-color: #772953
	
}

#product_category_div ul li .badge
{
	background-color: rgb(234, 92, 42);
	cursor: pointer;
}

.rating_div
{
  font-size: 15px;
  color: rgba(252, 142, 2, 0.88);
  
}

#customer_rating_star_div i
{
   font-size: 30px;
   margin-right: 10px;
   cursor:pointer;

}

.add-rating-color{
 color: rgba(252, 142, 2, 0.88);
}

.price {
	background-color: rgb(234, 92, 42);
    color: #fff;
    font-size: 15px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    font-weight: 200;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
    position: absolute;
    top: -5px;
    right: 5px;
}

.view {
    width: 240px;
    height: 300px;
    margin-left: -15px;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
  }
.view .mask, .view .content {
    width: 258px;
    height: 318px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    margin-top: 100px;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}


.view-first img { 
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(177, 133, 157, 0.59);; 
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p { 
    transform: translateY(100px);
    opacity: 0;
	transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
	transition: all 0.2s ease-in-out;
}

.view-first:hover img { 
	transform: scale(1.1);
} 
.view-first:hover .mask { 
	opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}

#product_category_div ul li ul li:hover{

    transform: translateX(20px) scale(1.5);
    transition: all 0.5s  ease-in-out;
     transition-delay: 0.2s;
}

#product_category_div ul li ul li
{
   display: block;
   color: #EA5C2A;
}

#product_category_div ul li ul li a
{
    color: #FF8C00;
}

.ps-user-auth
{
	background-color: #F9F9F9;;
    box-shadow: 1px 1px 10px #E2E2E2;
    padding: 30px;
    color: white;
	
}

.ps-form-adjust
{
	padding: 50px;
}

.ps-badge-uf
{
	margin-top: 10px;
	cursor: pointer;
	background-color: #EA5C2A
}

.ps-menu-row
{
	margin-top: -21px;
	background-color: #EFEFEF;
	
}

.ps-menu-row:hover
{
	background-color: #772953;
}

.ps-menu-row a
{
    color: rgb(234, 92, 42);
    font-weight: normal;
    font-size: 16px;
    font-family: sans-serif;
 }
 
.ps-menu-row a:hover
{
 color: white;
}

#ps-menu-col
{
	margin-top: -15px;
    min-height: 500px;
}

.ps-main-container
{
 min-height: 500px;

}

.ps-cart-table .navbar-default .navbar-nav>li>a:hover
{
   color: white;
}

@media (min-width: 768px){
.navbar-right .dropdown-menu#cart_menu {
    right: 0;
    left: auto;
    width: 300px;
    background-color: rgba(119, 41, 83, 0.57);
    color: #FFFFFF;
}
}

.btn-view-cart
{
  background-color: #EA5C2A;
  border-color: #EA5C2A
}
.btn-view-cart:hover
{
 color: white
}

.ps-view-cart-updown{  
    padding: 5px 15px 5px 15px;
    background-color: rgba(119, 41, 83, 0.57);
    color: white;
    cursor: pointer;
}

.ps-view-cart-updown:hover
{
   background-color: #772953;
   box-shadow: 0px 0px 5px #772953;
}

.ps-cart-img
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #B1859D;
    box-shadow: 0px 0px 5px #772953;
}

.ps-cart-table table>tbody>tr>td 
{
 vertical-align: middle;  
}

.ps-cart-table table>tbody>tr>td 
{
 vertical-align: middle;  
}

.ps-single-item
{
    border: 1px solid #ddd;
    width: 240px;
    height: 300px;
    margin-left: 30px;
    margin-top: 5px;
     
}

.ps-single-item:hover
{
  box-shadow: 0px 0px 10px #ddd; 
}

li.ps-cart-table a:hover
{
    box-shadow: 1px 1px 10px #ddd;
}

/********************checkout view*******************************/

/* form styling */
#form-container               
 { 
	 margin-bottom:20px;
     border-radius:5px; 
 }
#form-container .page-header   
{ 
	margin:0; padding:30px; 
    border-top-left-radius:5px; 
    border-top-right-radius:5px; 
}

/* numbered buttons */
#status-buttons    {  }
#status-buttons a  { 
	color: #777; 
	display:inline-block; 
	font-size:12px; 
	margin-right:50px; 
	text-align:center; 
	text-transform:uppercase; 
	}

#status-buttons a:hover
{ 
	text-decoration:none; 
}

/* we will style the span as the circled number */
#status-buttons span{ 
	background: #333;
    display: block;
    height: 50px;
    color: white;
    font-size: 15px;
    width: 50px;
    margin: 0 auto 10px;
    padding-top: 15px;
    border-radius: 50%; 
    
   }

/* active buttons turn light green-blue*/
#status-buttons a.active span   
{ background: #EA5C2A;}

.ps-checkout-ok{
	position: relative;
    top: -45px;
    right: 69px;
    color: #EA5C2A;
    font-size: 25px;
	
}

.ps-shadow
{
  box-shadow: 0px 0px 10px 0px #e8e9e8;
}
/***************************************/
