[ui-view].ng-enter, [ui-view].ng-leave 
{
    transition:0.9s all ease; -moz-transition:0.9s all ease; -webkit-transition:0.9s all ease; 
}

[ui-view].ng-enter {
    -webkit-animation:slideInRight 0.9s both ease;
    -moz-animation:slideInRight 0.9s both ease;
    animation:slideInRight 0.9s both ease; 
}



[ui-view].ng-leave {
     opacity: 0; 
    -webkit-animation:slideOutLeft 0.9s both ease;
    -moz-animation:slideOutLeft 0.9s both ease;
    animation:slideOutLeft 0.9s both ease;  
}


/**************checkout form Animaion******************/


/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#form-views.ng-enter,
#form-views.ng-leave{ 
    transition:0.9s all ease; -moz-transition:0.9s all ease; -webkit-transition:0.9s all ease; 
}
    
/* enter animation */
#form-views.ng-enter            { 
    -webkit-animation:slideInRight 0.9s both ease;
    -moz-animation:slideInRight 0.9s both ease;
    animation:slideInRight 0.9s both ease; 
}

/* leave animation */
#form-views.ng-leave{
     opacity: 0; 
    -webkit-animation:slideOutLeft 0.9s both ease;
    -moz-animation:slideOutLeft 0.9s both ease;
    animation:slideOutLeft 0.9s both ease;   
}


/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
    to      { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {  
    to      { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
    to      { -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(200%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateX(200%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from    { -webkit-transform:translateX(200%); }
    to      { -webkit-transform: translateX(0); }
}
